<p><strong>name:</strong> <%= @user.email %></p>
<p><strong>Phone Number:</strong> <%= @user.phone_number %></p>
<p><strong>Phone Number:</strong> <%= @user.mobile_number %></p>

<p>✅ Thank you! Your <%= @user.email %> has been submitted.</p>
